{% extends '__base.html' %}
{% load static %}

{% block title %}Cadastro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/usuarios/cadastro.css' %}">
{% endblock extra_css %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content %}
<form action="" method="post" class="formCadastro">
    {% csrf_token %}
    <div class="formGroup">
        <label class="formLabel" for="{{ form.usuario.id_for_label }}">Usuário</label>
        {{ form.usuario }}
    </div>
    <div class="formGroup">
        <label class="formLabel" for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
    </div>
    <div class="formGroup">
        <label class="formLabel" for="{{ form.senha.id_for_label }}">Senha</label>
        {{ form.senha }}
    </div>
    <div class="formGroup">
        <label class="formLabel" for="{{ form.senhaconfirm.id_for_label }}">Confirmar Senha</label>
        {{ form.senhaconfirm }}
    </div>

    <button type="submit" class="formBtn">Cadastrar</button>
    <a href="{% url 'login' %}">
        <button type="button" class="formBtnSecond">Voltar</button>
    </a>

    <p class="formTexto">
        Já tem uma conta? <a href="{% url 'login' %}">Entrar</a>
    </p>
</form>
{% endblock content %}

</body>
</html>