{% extends '__base.html' %}
 
{% load static %}

{% block title %}Inserir item no carrinho{% endblock %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/produtos/produtos.css' %}">
{% endblock extra_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
{% block content %}

<body>

<h2>Inserir item no carrinho</h2>
<form action="{% url 'ins_carrinhoitem' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Salvar">
</form>
<a class="btnCaminho" href="{% url 'list_carrinhoitem' %}">Voltar</a>

</body>
{% endblock %}
</html>