{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | EzShopping</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    {% block css1 %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock css1 %}

        {% block extra_css %}
    {% endblock extra_css %}
</head>
<body>

    {% block header %}
    <header class="header">
        <h2 class="titulo">EzShopping</h2>
        <nav class="navBar">
            <a class="navBtn" href="/">Início</a>
            <a class="navBtn" href="/prod/produto">Produtos</a>
            <a class="navBtn" href="/ven/vendedor">Vendedor</a>
            <a class="navBtn" href="/pag/pagamento">Pagamento</a>
            <a class="navBtn" href="/usu/usuarios">Usuarios</a>
            <a class="navBtn" href="/ped/pedido">Pedidos</a>
            <a class="navBtn" href="/ava/avaliacao">Avaliação</a>
        </nav>
    </header>
    {% endblock header %}

    <div class="menuPrincipal">
        <main class="areaContent">
            {% block content %}{% endblock %}
        </main>

        <aside class="lateralMenu">
            <a class="navBtn" href="/car/carrinho">Carrinho</a>
            <a class="sideLink" href="/usuarios/">Perfil</a>
        </aside>
    </div>

    <footer class="footer">
        <p>&copy; 2025 EzShopping</p>
    </footer>

</body>
</html>
