{% extends '__base.html' %}
 
{% load static %}

{% block title %}Criar Produto{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/produtos/create.css' %}">
{% endblock extra_css %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>


{% block content %}
<div class="formContainer">
    <h2 class="tituloForm">Criar Novo Produto</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="botoesForm">
            <button type="submit" class="btnForm btnSalvarForm">Criar Produto</button>
            <a href="{% url 'produtos:listarProdutos' %}" class="btnForm btnCancelarForm">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
    
</body>
</html>