{% extends '__base.html' %}
 
{% load static %}

{% block title %}Deletar Produto{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/produtos/delete.css' %}">
{% endblock extra_css %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

{% block content %}
<div class="formContainer">
    <h2 class="tituloForm">Você tem certeza que deseja deletar este produto?</h2>
    <p class="textoProduto"><strong>{{ produto.nome }}</strong></p>
    <form method="POST">
        {% csrf_token %}
        <div class="botoesForm">
            <button type="submit" class="btnForm btnDeletarForm">Sim, deletar</button>
            <a href="{% url 'produtos:listarProdutos' %}" class="btnForm btnCancelarForm">Não</a>
        </div>
    </form>
</div>
{% endblock %}
    
</body>
</html>