{% extends '__base.html' %}
{% load static %}

{% block title %}Lista de Subcategorias{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/produtos/produtos.css' %}">
{% endblock extra_css %}

{% block content %}
<h2>Lista de Subcategorias</h2>

<a class="btnCaminho" href="{% url 'ins_subcategoria' %}" class="btn-add">+ Inserir Nova Subcategoria</a>

<table border="1" cellspacing="0" cellpadding="5">
    <thead>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Nome</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for c in objects %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.categoria.nome }}</td>
            <td>{{ c.nome }}</td>
            <td>{{ c.get_status_display }}</td>
            <td>
                <a href="{% url 'upd_subcategoria' c.id %}">Editar</a> |
                <a href="{% url 'del_subcategoria' c.id %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">Nenhuma subcategoria encontrada.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
