{% extends '__base.html' %}
 
{% load static %}

{% block title %}Deletar Empresa{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/temp.css' %}">
{% endblock extra_css %}

{% block content %}

<body>

<h2>Deletar Empresa</h2>
<p>Deseja realmente excluir a empresa?</p>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Confirmar exclusão">
</form>
<a class="btnCaminho" href="{% url 'list_empresa' %}">Cancelar</a>

</body>
{% endblock %}
</html>